<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assyriska Förenningen</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>

  <!-- NAVBAR -->
  <header>
    <nav>
      <a class="brand" href="/">
        <div class="brand-logo"><img src="1.png" alt=""></div>
        <div>
          <div class="brand-text-title">Assyriska Föreningen</div>
        </div>
      </a>

      <div class="nav-buttons">
        <a th:if="${session.username == 'admin'}" th:href="@{/addmembers}" class="btn-outline">Lägg till medlem</a>
         <a th:if="${session.username == 'admin'}" th:href="@{/logout}" class="btn-solid">Logga ut</a>
        <a th:unless="${session.username == 'admin'}" th:href="@{/login}" class="btn-solid">Logga in</a>
      </div>
    </nav>
  </header>

  
  <main>
    <section class="hero-wrapper">
      <h1 class="hero-title">
        Shlama!<br />
        Välkommen till Assyriska Föreningen
      </h1>

      <p class="hero-desc">
        Här samlar vi kultur, språk, historia och gemenskap. Bli medlem,
        stöd aktiviteter och håll kontakt med vårt folk och vår framtid.
      </p>

      <div class="hero-actions">
        <a href="/members" class="hero-btn-primary">
          Se våra medlemmar
        </a>

        <a th:unless="${session.username == 'admin'}" th:href="@{/login}"class="hero-btn-secondary">
          Logga in som admin
        </a>
      </div>

      <!-- INFO GRID -->
      <div class="info-grid">
        <div class="info-card">
          <div class="info-card-title">Gemenskap</div>
          <div class="info-card-text">
            Familjeträffar, ungdomsverksamhet, kulturkvällar och högtider.
          </div>
        </div>

        <div class="info-card">
          <div class="info-card-title">Språk & kultur</div>
          <div class="info-card-text">
            Vi bevarar vårt språk Assyriska och vår historia.
          </div>
        </div>

        <div class="info-card">
          <div class="info-card-title">Hjälp & stöd</div>
          <div class="info-card-text">
            Ny i Sverige? Vi hjälper med kontakt, råd och nätverk.
          </div>
        </div>
      </div>
    </section>
  </main>

  <!-- FOOTER -->
  <footer>
    <p>© <span id="year"></span> Assyriska Föreningen. All rights reserved.</p>
  </footer>

  <script src="scripts.js"></script>
  <div th:insert="~{fragments/auth-sync :: authSync}"></div>

  
</body>
</html>