<!DOCTYPE html>
<html lang="sv" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logga in - Admin</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
      <!-- NAVBAR -->
  <header>
    <nav>
      <a class="brand" href="/">
        <div class="brand-logo"><img src="1.png" alt="Logga"></div>
        <div>
          <div class="brand-text-title">Assyriska Föreningen</div>
        </div>
      </a>

      <div class="nav-buttons">
        <a th:href="@{/members}" class="btn-outline">Se våra medlemmar</a>
        <a th:if="${session.username == 'admin'}" th:href="@{/addmembers}" class="btn-outline">Lägg till medlem</a>
        <a th:if="${session.username == 'admin'}" th:href="@{/logout}" class="btn-solid">Logga ut</a>
        <a th:unless="${session.username == 'admin'}" th:href="@{/login}" class="btn-solid">Logga in</a>
      </div>
    </nav>
  </header>

  <!-- LOGIN KORT -->
  <div class="page-wrapper">
    <div class="form-card">
      <div class="form-header">
        <h1>Admin inloggning</h1>
        <p>Endast administratörer kan lägga till/ta bort medlemmar.</p>
      </div>

     


      <form th:unless="${session.username == 'admin'}" th:action="@{/login}" method="post" class="login-form">
        <div class="field-group">
          <label for="username">Användarnamn</label>
          <input id="username" name="username" type="text" placeholder="admin" required />
        </div>

        <div class="field-group">
          <label for="password">Lösenord</label>
          <input id="password" name="password" type="password" placeholder="admin" required />
        </div>

        <div class="field-group">
          <button type="submit" class="submit-btn">Logga in</button>
        </div>
      </form>

    </div>
  </div>

  <!-- FOOTER -->
  <footer>
    <p>© <span id="year"></span> Assyriska Föreningen. All rights reserved.</p>
  </footer>

  <script src="scripts.js"></script>
</body>
</html>