<!DOCTYPE html>
<html lang="sv" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Våra medlemmar</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <div th:if="${success}" class="success-message" th:text="${success}"></div>

  <!-- NAVBAR -->
  <header>
    <nav>
      <a class="brand" href="/">
        <div class="brand-logo"><img src="1.png" alt="Logga" /></div>
        <div>
          <div class="brand-text-title">Assyriska Föreningen</div>
        </div>
      </a>

      <div class="nav-buttons">
        <a class="btn-outline" th:if="${session.username == 'admin'}" th:href="@{/addmembers}">Lägg till medlem</a>
        <a th:if="${session.username == 'admin'}" th:href="@{/logout}" class="btn-solid">Logga ut</a>
        <a th:unless="${session.username == 'admin'}" th:href="@{/login}" class="btn-solid">Logga in</a>
      </div>
    </nav>
  </header>

  <!-- INNEHÅLL -->
  <div class="page-wrapper">
    <div class="members-card">
      <div class="members-header">
        <div class="members-header-text">
          <h1>Våra medlemmar</h1>
          <p>Lista över aktiva personer i föreningen.</p>
        </div>

        <div class="members-header-actions">
          <a th:if="${session.username == 'admin'}" th:href="@{/addmembers}">Lägg till ny medlem</a>
        </div>
      </div>

      <div class="table-wrapper">
        <table>
          <thead>
            <tr>
              <th>Förnamn</th>
              <th>Efternamn</th>
              <th>Födelsedag</th>
              <th>E-post</th>
              <th>Telefon</th>
              <th>Roll</th>
              <th th:if="${session.username == 'admin'}" th:href="@{/members}">Åtgärder</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="member : ${members}">
              <td th:text="${member.firstName}">Förnamn</td>
              <td th:text="${member.lastName}">Efternamn</td>
              <td th:text="${member.birthDate}">Födelsedag</td>
              <td th:text="${member.email}">E-post</td>
              <td th:text="${member.phoneNumber}">Telefon</td>
              <td th:text="${member.role}">Roll</td>
              <td>
                <a th:if="${session.username == 'admin'}" th:href="@{/remove-member/{memberId}(memberId=${member.memberID})}" id="deleteBtn">X</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>



  <footer>
    <p>© <span id="year"></span> Assyriska Föreningen. All rights reserved.</p>
  </footer>

  <script src="scripts.js"></script>
</body>
</html>